<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>UES Energy Dashboard | Main</title>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>  	
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/jquery.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
<!--js--> 
<script src="js/jquery.min.js"></script>
<!--/js-->
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href=""><img src="images/logo.png" alt=""></a>  
							</div>
						</div>
				</div>
			</div>
		<!--End-header-->
</script>
		<div class="banner">
				<div class="banner-mask">
							<div class="container">
								            	  <div class="banner-text">
								            	  						<h1>UES ENERGY DASHBOARD</h1>
								            	  						<div class="button">
								            	  							<a href="/home">COMENZAR</a>
								            	  						</div>
								            	  </div>
							</div>
				</div>
		</div>
		
		<div class="services" id="services">
							<div class="container">
												<div class="services-main">
																			<div class="col-md-3">
																								<div class="services-main-left">
																														<span class="left-one"> </span>
																														<h3>100% ACCESO PUBLICO</h3>
																														<img src="images/line.png" alt="">
																														<p>Tanto como docentes, estudiantes o trabajadores pueden
																														   conocer el consumo de energia electrica de
																														   la Universidad de El Salvador.</p>
																								</div>
																			</div>
																			<div class="col-md-3">
																								<div class="services-main-left">
																														<span class="left-two"> </span>
																														<h3>PROYECTO DE BAJO COSTO</h3>
																														<img src="images/line.png" alt="">
																														<p>Creado con herramientas de software
																															de uso gratuito como: GoogleAppEngine, Google Chart Tools,
																															jQueryUI, Bootstrap, Python, entre otros.</p>
																								</div>
																			</div>
																			<div class="col-md-3">
																								<div class="services-main-left">
																														<span class="left-three"> </span>
																														<h3>DE LIBRE DESARROLLO</h3>
																														<img src="images/line.png" alt="">
																														<p>Unete a la comunidad en GiHub para seguir agregando fantasticas
																															caracteristicas a esta aplicacion muy util para la UES</p>
																								</div>
																			</div>
																			<div class="col-md-3">
																								<div class="services-main-left">
																														<span class="left-four"> </span>
																														<h3>UTILIZA WiFi 2.4GHz</h3>
																														<img src="images/line.png" alt="">
																														<p>Los medidores envían la información a través de una red inalámbrica
                                                          																WiFi a 2.4GHz no dectable por dispositivos móviles.</p>
																								</div>
																			</div>
																			<div class="clearfix"> </div>
												</div>
							</div>
		</div>
	<!--footer-starts-Here-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<p>&copy 2014-Creado por <a href="https://twitter.com/duquealas">Omar Duque</a></p>
			</div>
		</div>
			<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--footer-Ends-Here-->
</body>
</html>